.App {
  display: flex;
}

.chatList {
  width: 25%;
  height: 90vh;

  padding: 10px;
  border: 2px black solid;
}

.chatBox {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 10px;
  border: 2px black solid;
}
.chatData {
  padding: 5px;
}
.inputField {
  display: flex;
  padding: 10px;
  margin-bottom: 5px;
  justify-content: space-between;
}

.contactField {
  font-size: 20px;
  background-color: #f1f1f1;
  padding: 8px;
  margin: 10px;
  text-align: center;
  border: 2px gray solid;
  border-radius: 10px;
  cursor: pointer;
}

.contactfield: active {
  background-color: gray;
}
.contactOpen {
  font-size: 20px;
  background-color: #f1f1f1;
  padding: 8px;
  margin: 5px;
  width: 30%;
  text-align: center;
  border: 2px gray solid;
  border-radius: 10px;
  cursor: pointer;
}

.inputtext {
  width: 90%;
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
}

.outerOpen {
  padding: 5px;
  border-bottom: 1px solid black;
}

.messageText {
  maxwidth: 60%;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;

  display: flex;
  flex-direction: end;

  background-color: #0078d7;
  color: #fff;
  word-wrap: break-word;
}

.SendBtn {
  cursor: pointer;
  background-color: blue;
  padding: 15px;
  color: white;
  border-radius: 10px;
}
